# Hanafi Nougat Media Core manifest
#
# Format, tab-separated:
# id<TAB>absolute media path<TAB>MIME type<TAB>optional subtitle path
#
# Current test items.

ten-commandments-1923	/home/dereksparks1982/.cache/hanafi-media/ten-commandments-1923.mp4	video/mp4	
the-message-1976-english	/home/dereksparks1982/Videos/Hosted/The Message (1976)/The.Message.1976.English.mp4	video/mp4	
the-message-1976-urdu	/home/dereksparks1982/Videos/Hosted/The Message (1976)/The.Message.1976.Urdu.mp4	video/mp4	
al-risala-1976-arabic-english-hardsubs	/home/dereksparks1982/Videos/Hosted/Al-Risalah (1976)/Al-Risala.1976.Arabic-English.Hardsubs.mp4	video/mp4	
lion-of-the-desert-1981	/home/dereksparks1982/Videos/Hosted/Lion of The Desert (1981)/Lion-of-the-Desert-1981.nosubs.mp4	video/mp4	
